@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=block');

@font-face {
	font-family: 'Inter';
	font-display: swap;
	font-style: normal;
	src:
		local('Inter'),
		url('/fonts/Inter2.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Figtree';
	font-display: swap;
	font-style: italic;
	src: url('/fonts/figtree.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Nunito-Italic';
	font-display: swap;
	font-style: italic;
	src: url('/fonts/nunitoItalic.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Nunito';
	font-display: swap;
	font-style: normal;
	src: url('/fonts/nunitoNormal.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Shantell-Italic';
	font-display: swap;
	font-style: italic;
	src: url('/fonts/shantellItalic.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Shantell Sans';
	font-display: swap;
	font-style: normal;
	src: url('/fonts/shantellNormal.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Josefin-Italic';
	font-display: swap;
	font-style: italic;
	src: url('/fonts/JosefinItalic.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Josefin Sans';
	font-display: swap;
	font-style: normal;
	src: url('/fonts/JosefinNormal.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Sansita Swashed';
	font-display: swap;
	font-style: cursive;
	src: url('/fonts/sansitaNormal.woff2') format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Pacifico';
	font-display: swap;
	font-style: cursive;
	src: url('/fonts/Pacifico.ttf') format('ttf');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.pacifico-regular {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	font-style: normal;
}

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin '@tailwindcss/typography';

/* Custom Theme Extensions */
@theme {
	--color-accent: #af992b;
	--color-accent2: #162b54;
	--color-accent-dark: #605449;
	--color-accent-light: #f4eddb;
	--color-navy: #162b54;
	--color-slate: #6d778c;
	--color-cream: #f4eddb;
	--color-silver: #eaeaed;
	--color-gold: #af992b;
	--color-brown: #605449;

	--spacing-88: 22rem;
	--spacing-112: 28rem;

	--font-family-gt-walsheim-pro-medium: gt-walsheim-pro-medium, sans-serif;

	--transition-delay-400: 400ms;
	--transition-delay-600: 600ms;
	--transition-delay-800: 800ms;
	--transition-delay-1200: 1200ms;
	--transition-delay-1400: 1400ms;
	--transition-delay-1600: 1600ms;

	--transition-property-transform-opacity-filter: transform, opacity, filter;

	--scale-200: 1.75;

	--shadow-nav-shadow: rgba(0, 0, 0, 0.6) 0px 5px 10px;
	--shadow-nav-shadow-white: rgba(255, 255, 255, 1) 0px 5px 10px 10px;
	--shadow-chat: rgba(0, 0, 0, 0.8) 0px 10px 20px;
	--shadow-calendar: rgba(0, 0, 0, 0.2) 0 20px 20px -20px;
	--shadow-card: rgba(175, 153, 43, 0.5) 0px 40px 35px -30px;
	--shadow-card-black: rgba(0, 0, 0, 0.5) 0px 40px 35px -30px;
	--shadow-card-black-2: rgba(0, 0, 0, 1) 0px 0px 25px 5px;
	--shadow-custom-1: rgba(0, 0, 0, 0.25) 0px 0px 30px;
	--shadow-chat-msg: rgba(0, 0, 0, 0.25) 0px 3px 5px;
	--shadow-chat-msg-sm: rgba(0, 0, 0, 0.15) 0px 0px 5px;
	--shadow-green: rgba(0, 255, 0, 0.5) 0px 20px 40px -20px;
	--shadow-yellow: rgba(255, 242, 0, 0.5) 0px 20px 40px -20px;
	--shadow-blue: rgba(37, 99, 235, 0.5) 0px 20px 40px -20px;
	--shadow-red: rgba(255, 0, 0, 0.5) 0px 20px 40px -20px;
	--shadow-neutral: rgba(175, 175, 175, 0.5) 0px 20px 40px -20px;
	--shadow-pink: rgba(255, 0, 255, 0.5) 0px 20px 40px -20px;

	--animate-float: float 3s ease-in-out infinite;
	--animate-expand: expand 0.5s forwards;
	--animate-expand2: expand2 0.5s forwards;
}

:root {
	--svoast-offset: 16px;
	--svoast-gap: 16px;
	--svoast-bg: lch(21.25 0.01 277.8);
	--svoast-text: lch(100 0.03 277.8);
	--svoast-padding: 10px 15px 10px 18px;
	--svoast-radius: 7px;
	--svoast-shadow: 0 3px 9px lch(0 0 0 / 0.3);
	--svoast-font-size: 15px;
	--svoast-dismiss-gap: 8px;
	--svoast-max-width: unset;
	--svoast-colour: var(--primary);
	--svoast-info-colour: lch(100 0.03 277.8);
	--svoast-attention-colour: lch(67.19 48.97 262.25);
	--svoast-success-colour: lch(65.49 39.45 190.13);
	--svoast-warning-colour: oklch(0.72 0.13 73.61);
	--svoast-error-colour: lch(46.85 76.28 38.68);
	--svoast-bar-width: 3px;
	--svoast-icon-padding: 2px;
	--tooltip-white-space-hidden: nowrap;
	--tooltip-white-space-shown: normal;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes expand {
	0% {
		scale: 1;
		opacity: 1;
	}
	50% {
		scale: 8;
		opacity: 1;
	}
	100% {
		scale: 1;
		opacity: 0;
	}
}

@keyframes expand2 {
	0% {
		scale: 1;
		opacity: 1;
	}
	50% {
		scale: 0.8;
	}
	100% {
		scale: 1;
		opacity: 0;
	}
}

*,
*::before,
*::after {
	font-family: gt-walsheim-pro, sans-serif;
}

body {
	background: var(--color-cream);
}

@font-face {
	font-family: gt-walsheim-pro;
	src: url('./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: gt-walsheim-pro-medium;
	src: url('./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Medium.ttf');
	font-display: swap;
}

:root {
	--scrollbar-track: #162b54;
	--scrollbar-thumb: #6d778c;
}

.bg-dagitab {
	background-image: url('./assets/images/dagitab.webp');
}

.bg-default {
	background-image: url('./assets/images/pcsAnnex2.webp');
}

/* Custom Gradient Utilities */
.bg-linear-to-t {
	background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.bg-linear-to-r {
	background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-linear-to-l {
	background-image: linear-gradient(to left, var(--tw-gradient-stops));
}

.bg-linear-to-b {
	background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

/* Custom Brightness Utilities */
.brightness-30 {
	filter: brightness(0.3);
}

/* Scrollbar */
/* Firefox only */
@supports (scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track)) {
	* {
		scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
		scrollbar-width: thin;
	}
}

/* Other browsers */
::-webkit-scrollbar {
	width: 0.25em;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: 100vw;
}

:root::view-transition-old(root) {
	animation: 150ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

:root::view-transition-new(root) {
	animation: 250ms cubic-bezier(0, 0, 0.2, 1) 150ms both fade-in;
}

@layer base {
	html.lenis,
	html.lenis body {
		height: auto;
	}

	.lenis.lenis-smooth {
		scroll-behavior: auto !important;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
		overscroll-behavior: contain;
	}

	.lenis.lenis-stopped {
		overflow: hidden;
	}

	.lenis.lenis-scrolling iframe {
		pointer-events: none;
	}
}
